.caixaDesafioContainer{
    height: 100%;

    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}
.desafioNaoAtivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desafioNaoAtivo strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.desafioNaoAtivo p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width:  70%;
    margin-top: 3rem;
}
.desafioNaoAtivo p img{
    margin-bottom: 1rem;
}   

.desafioAtivo{
    height: 100%;

    display: flex;
    flex-direction: column;

}

.desafioAtivo header{
    color: var (--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.desafioAtivo main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} 

.desafioAtivo main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.desafioAtivo main p{
    line-height: 1.5;
}

.desafioAtivo footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.desafioAtivo footer button{
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);
    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}
.desafioAtivo footer button.challegeFailButton{
    background-color: var(--red);
}
.desafioAtivo footer button.challegeCompleteButton{
    background-color: var(--green);
}
.desafioAtivo footer button:hover{
    filter: brightness(0.9);
}